@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }


.grid-container {
    display: grid;
    grid-template-rows: [navbar-start] minmax(min-content, 8rem)[navbar-end content-start] 90vh [content-end footer-start] minmax(min-content, 10rem)[footer-end];
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] minmax(min-content, 14rem) [center-end] minmax(6rem, 1fr) [full-end];
    grid-gap: 3rem;

}

.header{

    background-color: $color-primary;
    grid-column: full-start / full-end;
    grid-row: navbar-start / navbar-end;

    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [navbar-start] minmax(min-content, 3rem) repeat(2,minmax(min-content, 1fr)) repeat(2, minmax(min-content, 3rem)) [center-end] minmax(6rem, 1fr) [navbar-end];
    
    align-items: center;
    border-bottom: 9pt solid $color-primary-dark;
}

.content{
    grid-column: center-start / center-end;
    grid-row: content-start / content-end;
}

.footer{
    grid-column: full-start / full-end;
    grid-row: footer-start / footer-end;

    padding: 2rem 0 ;
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [footer-start] minmax(min-content, 2fr) [footer-end] minmax(6rem, 1fr) [full-end];

}
