<div id='DivExp' class="container">
    <center>
        <h3>Panel eléctrico DC</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <img  class="cam" src='http://nutecrexlab3.ufu.br:8080' width="100%"/> <!-- esta na rede interna 10.10.10.178:8081 --><br><br>
                <div class='row switches controllers'  style="display: none">
                    <div class='col-lg-2 col-lg-offset-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw0' type="checkbox" data-toggle="toggle" data-on="S1" data-off="S1"/><br>
                        <input class='switch' id='sw1' type="checkbox" data-toggle="toggle" data-on="S2" data-off="S2"/><br>
                    </div>
                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw2' type="checkbox" data-toggle="toggle" data-on="S3" data-off="S3"/><br>
                        <input class='switch' id='sw3' type="checkbox" data-toggle="toggle" data-on="S4" data-off="S4"/><br>
                    </div>
                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw4' type="checkbox" data-toggle="toggle" data-on="S5" data-off="S5"/><br>
                        <input class='switch' id='sw5' type="checkbox" data-toggle="toggle" data-on="S6" data-off="S6"/><br>
                    </div>
                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw6' type="checkbox" data-toggle="toggle" data-on="S7" data-off="S7"/><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-top: 20px">
                <div class="base loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>

                <div class='controllers' style="display: none">

                    <p style="display: none;" class="default_circuit">El circuito equivalente aún no se ha dibujado.</p>
                    <img class="img-responsive default_circuit" src="http://relle.ufsc.br/exp_data/1/1/img/diagrama.png" width="100%"/>
                    <img style="display: none;" class="equivalent hiddencircuit" src="" width="80%"/>
                    <div id="sensors">
                        <table class="table table-condensed" style='font-size:11px'>
                            <thead>
                                <tr>
                                    <th>A1</th>
                                    <th>A2</th>
                                    <th>A3</th>
                                    <th>A4</th>
                                    <th>A5</th>
                                    <th>A6</th>
                                    <th>A7</th>
                                    <th>V1</th>
                                    <th>V2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style='font-size:9pt' id="a0">0</td>
                                    <td style='font-size:9pt' id="a1">0</td>
                                    <td style='font-size:9pt' id="a2">0</td>
                                    <td style='font-size:9pt' id="a3">0</td>
                                    <td style='font-size:9pt' id="a4">0</td>
                                    <td style='font-size:9pt' id="a5">0</td>
                                    <td style='font-size:9pt' id="a6">0</td>
                                    <td style='font-size:9pt' id="v0">0</td>
                                    <td style='font-size:9pt' id="v1">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="report"></div>         
                </div>

            </div>
        </div>

    </center>
</div>

<script>
    var lang =
            {
                showme: "Enseñame como funciona",
                next: "Siguiente",
                previous: "Anterior",
                done: "Hecho",
                showmeshort: 'Como funciona',
                leave: "Abandonar",
                intro1: "En este laboratorio se analizan circuitos resistivos en configuraciones paralelas, en serie y mixtas.",
                introcamera: "Este streaming de video le mostrará lo que está sucediendo en tiempo real en el laboratorio.",
                diagram: "Este diagrama representa el mismo circuito que tienes disponible remotamente. También indica los lugares donde se colocan interruptores, amperímetros y voltímetros.",
                switches: "Utiliza estos interruptores para abrir y cerrar el camino de la corriente eléctrica.",
                sensors: "Cuando se cambian los interruptores, la configuraciín remota también cambiará y los valores de tensión y corriente se actualizarón aquí.",
                report: "Cuando pulses el botón \"Abandonar\", tendrís disponble un informe del último circuito con el que hayas experimentado."
            };


</script>