@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

h1{
    text-align: center;
}
#quadro{
    padding-left: 0px;
}
#panel{
    background: url(img/panel.png) repeat-x;
    width: 550px;
    height: 385px;
    position:relative;
}
.chave, .fonte{
    width: 36px;
    height: 23px;
    position:absolute;  
}

.on{
    background: url(img/on.png) repeat-x;
}
.off{
    background: url(img/off.png) repeat-x;

}

/*
*id das chaves = numero da chave - 1 
*/
#sw0{
    margin-left: 142px;
    margin-top: 96px;  
}

#sw1{
    margin-left: 142px;
    margin-top: 182px;  
}

#sw2{
    margin-left: 142px;
    margin-top: 224px;  
}
#sw3{
    margin-left: 355px;
    margin-top: 13px;  
}
#sw4{
    margin-left: 355px;
    margin-top: 53px;  
}

#sw5{
    margin-left: 355px;
    margin-top: 97px;  
}

#sw6{
    margin-left: 355px;
    margin-top: 140px;  
}

.introjs-helperNumberLayer{
    width:25px !important;
    height:25px !important;
}

#DivExp{
    width:auto;
}
#question-list{
    width:auto;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
label{
    margin-top:-10px;
}