<div id='DivExp' class="container">

    <div class="col-lg-1"></div> 
    <h3>Newton Disk</h3>
    <div class="col-lg-12 prime" data-step='1' data-intro='Aqui estão disponíveis um disco de newton real e uma simulação para verificar o fenômeno de composição de cores.'>   
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
            <img id="cam" src="http://disconewton1.relle.ufsc.br:8080" width="100%" data-step="2" data-intro="A transmissão de vídeo mostra o processo real. Com o motor ligado é possível ver que a combinação de cores adquire um tom cinza bastante claro." />
            <div class="inputclass terc" data-step="3" data-intro="Clique na chave para ativar o motor responsável pela rotação. A velocidade do motor é de 8000 rpm.">
                <center>
                    <div class="base loading">
                        <ul>
                            <li class=""><div class="loader-1"></div></li>
                        </ul>
                    </div>
                    <input class='switch controllers' style="display: none" id='sw' type="checkbox" data-toggle="toggle" data-on="ON" data-off="OFF" />
                </center>
            </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 quart" data-step='4' data-intro='Na simulação é possível alterar as cores, quantidade de setores e velocidade de rotação do disco.'>
            <div class="base loading">
                <ul>
                    <li class=""><div class="loader-1"></div></li>
                </ul>
            </div>
            <div class="row controllers" >
                <div class="discs col-lg-12 quint" data-step='5' data-intro='Aqui estão atalhos para alguns conjuntos de cores mais comuns: o RGB (vermelho, verde e azul), o de cores do arco-íris (VIBGYOR), e o amarelo e azul.'>
                    <a class="disc" data-color="red,green,blue">Red-Green-Blue</a>
                    <a class="disc" data-color="violet,indigo,blue,green,yellow,orange,red">VIBGYOR</a>
                    <a class="disc" data-color="yellow,blue">Yellow-Blue</a>
                    <a class="disc oct" data-color=""  data-step='8' data-intro='Porém, também é possível criar um novo disco informando as cores.'>New disc</a>
                </div>
                <div class="col-lg-12" id="holder" ></div>
                <div class="controls col-lg-12 exa" data-step="6" data-intro="É possível aumentar a velocidade de rotação da simulação, porém o que você vê está limitado pela taxa de atualização da sua tela.">
                    <a> <i class="fa fa-minus"></i></a>
                    <input class="input-sm" style="max-width: 50px;border:1px solid #cccccc; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;"  id="periodo" value="0" disabled>
                    <a> <i class="fa fa-plus"></i></a>
                    <a>New speed</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var lang =
            {
                showme: 'Show how it work',
                showmeshort: 'How Work',
                next: "Next",
                previous: "Anterior",
                done: "Done",
                leave: "Leave",
                alfa: "Here they are available a real Newton Disc and a simulation to verify the dithering phenomenon.",
                beta: "The streaming video shows the actual process.With the engine running you can see that the combination of colors acquires a gray tone quite clear.",
                delta: "Click the switch to turn on the engine responsible for the rotation. The engine speed is 8000 rpm.",
                gama: "In the simulation s possible change the colors, number of sectors and speed rotation of the disc.",
                zeta: "There are some combinations available, such as the rainbow colors (VIBGYOR), the RGB set (Red, Green and Blue), the Yellow and Blue set, and it is also possible to create a custom disc.",
                teta: "You can increase the simulation speed, but what you see is limited by the refresh rate of your screen.",
                giga: "However, you can also create a new disc informing colors."
            };

    message = ["Dê as cores separadas por vírgula, sem espaços e em inglês. Ex.:blue,yellow,blue,yellow",
        "Quanto menor o valor, mais rápido será. Ex.: Velocidade rápida: 0.0001"];
</script>