<div id='DivExp' class="container" style="margin-top: -4%;">
    <center>
        <h3>Heat Propagation Means</h3>

        <div class="row">
            <div class="col-lg-6  col-sm-12 col-md-6 col-xs-12">
                <img class="cam" src='http://propagacaocalor1.relle.ufsc.br:8080' width="100%"/> <!-- esta na rede interna 10.10.10.162:8081 --><br><br>
                <div class='row controllers' style="display: none">  
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="margin: 10px 0 0 0;">
                        <form class="time">
                            <div class="form-group"> 
                                <label for="step">Step:</label>  
                                <select id="step">
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sourceduration">Duration:</label>   
                                <input type="number" id="sourceduration" name="duration" value="30"  min="1" max="120"  > 
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" >
                        <p>Power </a>  

                        <form class="power">
                            <input type="radio" name="power" value="normal" > 32W
                            <br>
                            <input type="radio" name="power"  value="double" checked > 64W
                        </form>
                        <input type='button' class="btn btn-fresh"  name='start' id='start' value='Start'/><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 chart" style="position: relative">
                <div class="base loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>
                <div class='controllers' style="display: none">  
                    <div class="labely">Temperature [&#8451;]</div>
                    <canvas id="canvas" height="400" width="500"></canvas>
                    <div class="labelx">Time [s]</div>
                </div>
                
                <div class="row alerts">

                    <div class="col-lg-12 col-xs-12 alert alert-info alert-dismissible" id="show-error" style="display: none" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span> <p> Error </p> </span>
                    </div>
                    <div class="col-lg-12 col-xs-12 alert alert-info alert-dismissible" id="show-info" style="display: none" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span> <p> Error </p> </span>
                    </div>
                </div>
                <input type="hidden" name="imagem" id="imagem">
                <div id="report"></div>   
                <div id="csv"></div>  
            </div>
        </div>

    </center>
</div>

<script>
    message = ["Parameters info: The 'step' parameter gives the interval between readings in chart and 'duration' sets how long the heat source is going to be switched on. The input labeled 'Power' gives the heat source intensity.",
        "The lab is cooling now. You can collect data for a cooling curve or leave this page and try again in a few minutes."];
    var lang =
            {
                showme: "Show me how it works",
                next: "Next",
                previous: "Prev",
                done: "Done",
                showmeshort: 'How it works',
                leave: "Leave",
                label1: "Above heat source (propeller)",
                label2: "At heat source",
                intro1: "In this lab you will analyze different mechanisms of heat transfer acting on an experimental setup.",
                introcamera: "This video streaming will show you what is happening now in the lab.",
                intro2: "The device consists of acrylic box with a top opening and a lamp as heat source placed on the bottom part.",
                chart: "Temperature measuments of two spots of the apparatus (as indicated below) will be plotted here.",
                time: "Set the time interval for measurements (horizontal axis of the chart) and also indicate how long the heat source will be turned on.",
                power: "It is possible to choose between two values for the heat source power.",
                start: "After you start it, you will be able to watch the behavior of temperature curves and the propeller on the top part of the acrylic box.",
                alerts: "Pay attention to any notification that may appear here.",
                report: "When leaving it is possible to generate a report with the chart and also download the data for deeper analysis in another software."

            };
</script>
