 .footer{
    &_content{
        grid-column: footer-start / footer-end;
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        grid-gap: 1rem;

        &-text{
            grid-column: 1 / 2;
        }
    }

    &_logos{
        grid-column: 2 / 3;
        border: 5px solid $color-tertiary-dark;
        align-items: center; 
        justify-content: space-around;
        margin: .5rem;
        &-content{

            display: flex;
            align-items: center; /* Align Items Vertically */
            justify-content: space-around; /* Align Items Horizontally */
            list-style: none;
        }
        &--icon{

            width: 5rem;
        }
    }
 }