.navbar{
    justify-self: center;
    &-brand{
      grid-column: 2 / 3; 
    }

    &-principal{
        grid-column:  3 / 4;

        display: grid;
        grid-template-columns: repeat(5, minmax(min-content,1fr));
        grid-gap: 2rem;

      &__item{
        font-size: $font-size-primary;
        font-family: $font-family-primary !important;
        font-weight: $font-weight-primary;
        margin: 2rem 0 0;
      }

      &__link{
        color: $color-white;
        align-items: center;
      }

    }

    &-form{
        grid-column:  4 / 5;
        justify-self: end;
        &_search{
            &--input,
            {

            }
        }
    }
    
    user-nav{
      grid-column:  6 / 7;
    }

    &-flags{
      grid-column:  7 / 8;
    }

    
}

/*.navigation {
    background-color: #34495E;
    border-bottom: 9pt solid #2C3E50;
    grid-row: 1 / 2;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    margin-bottom: 0; }
    .navigation_link {
      color: #fff;
      font-family: 'Roboto' sans-serif !important;
      font-size: 1.6rem !important;
      font-weight: 400 !important; }
      .navigation_link:first-child {
        margin-left: 2rem; }
      .navigation_link:hover {
        color: #1abc9c;
        background-color: transparent !important; }
    .navigation_flags {
      color: inherit;
      background-color: transparent;
      border: none;
      margin: 0.5rem; }
      .navigation_flags:hover {
        background-color: transparent; }
      .navigation_flags--dropdown {
        background-color: #34495E;
        min-width: 6.5rem; }
    .navigation_login {
      color: #fff;
      font-family: 'Roboto' sans-serif !important;
      font-size: 1.6rem !important;
      font-weight: 400 !important; }
      .navigation_login:hover {
        color: #1abc9c;
        background-color: transparent !important; }
    .navigation_user {
      margin: 0.5rem;
      color: #fff; }
      .navigation_user--dropdown {
        background-color: #34495E;
        color: #fff; }
        .navigation_user--dropdown li > a {
          color: #fff; }
        .navigation_user--dropdown:hover {
          background-color: #2C3E50; }
          .navigation_user--dropdown:hover li > a {
            color: #fff; }
    .navigation_search-input, .navigation_search-btn {
      background-color: #2C3E50 !important;
      color: #1abc9c;
      border-radius: 100px;
      border-color: #2C3E50 !important; }
  */