<div id='DivExp' class="container" style="text-align: left !important;">
    <!--
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-info-circle"></i> 
            Esta é uma releitura do primeiro experimento do RExLab criado em 1997, um depurador remoto para 8051. 
            <a href='http://rexlab.ufsc.br/primeiro_experimento.php' target='_blank'>Saiba mais</a>.
        </div>
    -->

    <center>
        <h3>Development environment for Arduino</h3>
    </center>
    <div class="row">
        <div class='col-lg-8 col-md-12' id='ide' >
            <div class="base loading_ide">
                <ul>
                    <li><div class="loader-1"></div></li>
                </ul>
            </div>
            <div class="panel-title controllers" style="display: none" >
                <ul class="nav nav-tabs" style='padding: 10px 0 0 10px !important;'>
                    <li class="dropdown aqui">
                        <button class="btn btn-default btn-sm-custom dropdown-toggle square" id="drop_menu" type="button" data-toggle="dropdown" style="margin-right:8px;"><i class="fa fa-bars" style="margin-left: -6px; margin-top:-5px;"></i></button>
                        <ul class="dropdown-menu" aria-labelledby="drop_menu">
                            <li><a href="#/" id="editing">file.ino</a></li>
                            <li><a data-toggle="collapse" data-target="#example">Examples</a> </li>
                            <div  id="example" class="list-group collapse">
                                <a href="#/" class="list-group-item" id="servo">LCD + Servo</a>
                                <a href="#/" class="list-group-item" id="led">LCD + LED</a>
                                <a href="#/" class="list-group-item" id="lm35">LCD + LM35</a>
                                <a href="#/" class="list-group-item" id="ldr">LED + LDR</a>
                            </div>
                            <li><a data-toggle="collapse" data-target="#libraries">Libraries</a> </li>
                            <div  id="libraries" class="list-group collapse">
                                <a href="#/"  class="list-group-item"id="servo_h">Servo.h</a>
                                <a href="#/" class="list-group-item" id="wire_h">Wire.h</a>
                                <a href="#/" class="list-group-item" id="rgb_lcd_h">rgb_lcd.h</a>
                            </div>

                        </ul>
                    </li>
                    <li class="active"><a href="#/" id="tab" >file.ino</a></li>

                    <li id='menu' >
                        <ul style="margin-left:-38px;">
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom round" id='verify' style='opacity: 0.35;' disabled><i class="fa fa-check" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom round" id='upload' style='opacity: 0.35;' disabled><i class="fa fa-arrow-right" style="margin-left: -6px; margin-top:-5px; "></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom square" id='open' ><i class="fa fa-upload" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom square" id='download'><i class="fa fa-download" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom square" id='serial' style='opacity: 0.35;' disabled><i class="fa fa-search" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;" id='acting'></li>
                        </ul>
                    </li> 
                </ul>
            </div>

            <div class="content-box-large box-with-header controllers" style="display: none">
                <div id="editor"></div>
                <div id='after' style="display:none" >
                    <div id="verify_bar">
                        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                            <p class="message"></p>
                        </div>
                        <div class="progress col-lg-4 col-md-4 col-xs-4 col-sm-4" style="padding-left: 0; padding-right: 0;">
                            <div class="progress-bar progress-bar-success" id='prog' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            </div>
                        </div>
                    </div>   
                    <div id="output"></div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12"  id="serial_monitor"  style="display:none;">
            <div class="panel-title" style="height: 40px; padding: 5px;">

                <div  style="color:white;padding:5px;">
                    <span id='port'>COM X</span>
                    <a style="color:white;" href='#/' onClick='$("#close").click()' id='close' class="pull-right" style="font-weight: bold; text-decoration: none;">x</a>
                </div>

            </div>
            <div class="content-box-large box-with-header serialbox">
                <div  style="padding:20px;height:400px; ">
                    <div class="input-group">
                        <input type="text" class="form-control" id='serial_input'>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id='serial_send'>Send</button>
                        </span>
                    </div>
                    <textarea readonly> </textarea>
                    <ul id='serial_list'>
                        <li></li>
                    </ul>
                </div>

                <div class="panel-footer">
                    <select id='baudrate' class="form-control select select-block mbl">
                         <option value='300'>300 baud</option>
                        <option value='1200'>1200 baud</option>
                        <option value='2400'>2400 baud</option>
                        <option value='4800'>4800 baud</option>
                        <option value='9600' selected>9600 baud</option>
                        <option value='14400'>14400 baud</option>
                        <option value='19200'>19200 baud</option>
                        <option value='28800'>28800 baud</option>
                        <option value='34800'>34800 baud</option>
                        <option value='57600'>57600 baud</option>
                        <option value='115200'>115200 baud</option>
                    </select>

                    <!-- bootstrap compatible only select id='baudrate' class='selectpicker' style="padding-bottom:5px" >
                        <option value='300'>300 baud</option>
                        <option value='1200'>1200 baud</option>
                        <option value='2400'>2400 baud</option>
                        <option value='4800'>4800 baud</option>
                        <option value='9600' selected>9600 baud</option>
                        <option value='14400'>14400 baud</option>
                        <option value='19200'>19200 baud</option>
                        <option value='28800'>28800 baud</option>
                        <option value='34800'>34800 baud</option>
                        <option value='57600'>57600 baud</option>
                        <option value='115200'>115200 baud</option>
                    </select-->
                    <button class="btn btn-sm btn-normal" id='clear'>Clean</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-lg-offset-0 col-md-offset-1 col-md-10 col-sm-12 col-xs-12  content-box-large" id='right'>
            <div class="base loading">
                <ul>
                    <li class=""><div class="loader-1"></div></li>
                </ul>
            </div>
            <div class='row controllers' style="display: none">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" id="lab">          
                    <button class="btn btn-normal pull-left" style="position:absolute" id='reset'>Reset<i class="fa fa-refresh" style="margin-left:5px;"></i> </button>
                    <div class="pushbutton" style="display: none"></div>
                    <div class="btn-group push-group cameraa" style="display: none">
                        <button class="btn btn-sm" id='pushbutton7'>7</button>
                        <button class="btn btn-sm" id='pushbutton8'>8</button>
                    </div>

                    <img id="labcam" src='http://arduino1.relle.ufsc.br:8080' width="100%" />
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" id="diagram">
                    <span class='zoom' id='img-zoomed'> 
                        <img id="cameraaa" src='http://relle.ufsc.br/exp_data/4/1/diagrama.png' alt=''  />
                    </span>
                    <p><i>*Hold and move to magnify</i></p>
                </div>

            </div>
        </div>


    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade in" style="display: none; padding: 10px">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ops, an error occurred.</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <p>Please verify and send your code again to be sure it will properly run.</p>
                    </center>
                </div>

            </div>
        </div>
    </div>
    
    <button style="display:none" type="button" id="modal" class="btn btn-info btn-lg open">Open Modal</button>


    <form method="post" id="form" enctype="multipart/form-data" style="display:none">
        <input type="file" name="file" id="file" accept=".ino"/>
        <input type="submit" id='submit'/>
    </form>


</div>
<script>
    var lang =
            {
                verify: 'Verify',
                open: 'Open',
                upload: 'Upload',
                serial: 'Serial Monitor',
                save: 'Save',
                setup: '//put your setup code here, to upload once:',
                loop: '//put your main code here, to upload repeatedly:',
                done_upload: 'Done uploading.',
                done_compiling: 'Done compiling.',
                error_upload: 'Error uploading.',
                error_compiling: 'Error compiling.',
                error_serial: 'Error on serial comunication.',
                error_connection: 'Connection error.',
                compiling: 'Compiling sketch...',
                uploading: 'Uploading sketch... ',
                leave: 'Leave',
                time: 'Remaining time',
                language: 'en',
                showme: "Show me how it works",
                next: "Next",
                previous: "Prev",
                done: "Done",
                showmeshort: 'How it works',
                intro1: "This editor has features similar to Arduino IDE's ones.",
                intro2: "Here you can compile and upload your code to the Arduino, and also open and download .ino files, and open serial terminal.",
                intro3: "Here there are some examples and libraries available to use in your code. You just need to click on the library name and call its functions.",
                intro4: "This figure presents the real circuit. It is useful to identify sensors and pins that will be used during the development of your program",
                intro5: "After compiling and uploading, the feedback of these actions will appear here showing if they were successfully carried out or not.",
                intro6: "If you used serial communication functions in your code, it will be possible to exchange information with the Arduino board in this terminal.",
                intro7: "Finally, it is possible to see what is happening now through this video streaming."
            };
</script>