
<div id='DivExp' class="container">

    <div class="col-lg-12">
        <center><h1>Inclined Plane</h1></center>

        <div class="col-lg-6"  style="margin:0px 0 15px 0;"> 
            <img class="cam" src='http://nutecrexlab4.ufu.br:8080' width="100%"/>
        </div>

        <div class="col-lg-6">
            <div class="base loading">
                <ul>
                    <li class=""><div class="loader-1"></div></li>
                </ul>
            </div>


            <div class='row controllers' style="display: none">
                <div id="slider" class="rslider"></div>
                
                <center><p>Angle</p></center>
                <div class='col-lg-12 col-xs-12'  style="margin:5px 0 5px 0;">
                    <div class="row">
                        <div class="col-lg-4  col-xs-12">
                            <button class='btn btn-fresh' id='drop' style="display:none;">Drop</button>
                        </div>
                        <div class="col-lg-4  col-xs-12">
                            <button class='btn btn-fresh' id='setup' style="display:none;">Initial setup</button>
                        </div>   
                        <div class="col-lg-4  col-xs-12">
                            <button class='btn btn-fresh' id='send' style="display:none;">Send</button>
                        </div>
                    </div> 

                </div>
                <div class='col-lg-12  col-xs-12'  style="margin:5px 0 5px 0;">
                    <div class="row">

                        <div class="col-lg-6  col-sm-6 col-xs-12 forcay">
                            <label for="forcay"><b><i>mg </i>sin(<span class="angle">x</span>) [N] :</b></label>
                            <input class="input-sm" style="max-width: 70px;border:1px solid #cccccc; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;margin:5px;"  id="forcay" disabled> 
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 forcax">
                            <label for="forcax"><b><i>mg </i>cos(<span class="angle">x</span>) [N] :</b></label>
                            <input class="input-sm" style="max-width: 70px;border:1px solid #cccccc; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;margin:5px;"  id="forcax" disabled>
                        </div>

                    </div>      
                </div>
                <div class='col-lg-12 col-xs-12 tabela'  style="margin:5px 0 5px 0;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>d(cm)</td>
                                <td>6</td>
                                <td>16</td>
                                <td>26</td>
                                <td>36</td>
                                <td>46</td>
                                <td>56</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>t(ms)</td>
                                <td id="d0"></td>
                                <td id="d1"></td>
                                <td id="d2"></td>
                                <td id="d3"></td>
                                <td id="d4"></td>
                                <td id="d5"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='col-lg-12 col-xs-12' id="alerts">
                    <div class="col-lg-12 col-xs-12 alert alert-success alert-dismissible" id="show-success" style="display: none" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span> <p> Success </p> </span>
                    </div>
                    <div class="col-lg-12 col-xs-12 alert alert-info alert-dismissible" id="show-error" style="display: none" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span> <p> Error </p> </span>
                    </div>
                </div>
                <div id="csv"></div> 


            </div>
        </div>
    </div>
</div>

<script>
    message = ["You should hold the sphere before tilting the ramp. Set an angle of -15° and the sphere will be held automatically",
        "Ops, it seems that the sphere didn't fall. Try a larger angle.",
        "Great! You can repeat this procedure many times you want it. Let's try using another angle? Your readings are being recorded, so you can download it when you leave.",
        "If you first set an angle of 90°, you will be able to measure the components of the gravity force. Then, just go adjusting angles and the components will be recorded",
        "If you are using your mobile, you may be able to use its accelerometer to adjust the angle."];
    var lang =
            {
                showme: "Show me how it works",
                next: "Next",
                previous: "Prev",
                done: "Done",
                showmeshort: 'How it works',
                leave: "Leave",
                intro1: "In this lab you will experiment and analyze forces acting on a body on an inclined plane.",
                introcamera: "This video streaming will show you what is happening now in the lab.",
                introslider: "An angle for the plane must be here. Keep in mind that the allowed range of values is -15° to 90°.",
                intro2: "To start experimenting, the sphere must be held. Just set the angle to -15° and a gripper will hold it automaticaly.",
                introsend: "After defining the angle, it must be sent. This button will be unavailable untill the inclined surface gets to the right position.",
                introdrop: "If the plane is inclined at the desired angle and the sphere is already held, now the sphere should be released.",
                introtabela: "Time and displacement mesuarements are shown in this table after the sphere reaches the end of the plane.",
                intro3: "Another possible experiment would be how to analyze gravitational forces components. Check out this <a href='http://gt-mre.ufsc.br/course/view.php?id=16' target='_blank'>material</a> for more information.",
                introforcay: "The force sensor only indicates the parallel component to the gravitational force.",
                introforcax: "Thus, the perpendicular component must be calculated. If the plane is inclined at 90°, this component will be calculated in the next measurements.",
                introalerts: "Other tips and warnings will be displayed here while you are experimenting."
            };

</script>
