	#access{
		float:left;
		width: 78px;
		height: 38px;
		background-color: #1abc9c;
		border: 2px solid #1abc9c;
		border-radius: 4px 0px 0px 4px;
		opacity: 1;	
	}
	
	#access:hover,#showbox:hover{
		opacity: 0.7;
	}
	
	#acessar,#observer,#acessarBook {
		color: white;
		font-size: 15px;
                font-weight: 500;
	}

	#showbox{
		float:left;
		width: 46px;
		height: 38px;
		background-color: #1abc9c;
		border: 2px solid #1abc9c;
		border-radius: 0px 4px 4px 0px;
		opacity: 1;
	}
                    
        #inputBox{
                display: none;
                float:left;
		width: 90px;
		height: 38px;
                box-sizing: border-box;
                border: 5px solid #1abc9c;
                font-size: 16px;
                text-align: right;
                background-color: white;
            }
            #inputBox:focus,#access:focus,#showbox:focus{
		outline-style:none;
                box-shadow:none;
            }