@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.grid-container {
  display: grid;
  grid-template-rows: [navbar-start] minmax(min-content, 8rem) [navbar-end content-start] 90vh [content-end footer-start] minmax(min-content, 10rem) [footer-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] minmax(min-content, 14rem) [center-end] minmax(6rem, 1fr) [full-end];
  grid-gap: 3rem; }

.header {
  background-color: #34495E;
  grid-column: full-start / full-end;
  grid-row: navbar-start / navbar-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [navbar-start] minmax(min-content, 3rem) repeat(2, minmax(min-content, 1fr)) repeat(2, minmax(min-content, 3rem)) [center-end] minmax(6rem, 1fr) [navbar-end];
  align-items: center;
  border-bottom: 9pt solid #2C3E50; }

.content {
  grid-column: center-start / center-end;
  grid-row: content-start / content-end; }

.footer {
  grid-column: full-start / full-end;
  grid-row: footer-start / footer-end;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [footer-start] minmax(min-content, 2fr) [footer-end] minmax(6rem, 1fr) [full-end]; }

.content {
  margin-bottom: 3rem; }

.footer_content {
  grid-column: footer-start / footer-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-gap: 1rem; }
  .footer_content-text {
    grid-column: 1 / 2; }

.footer_logos {
  grid-column: 2 / 3;
  border: 5px solid #bdbdbd;
  align-items: center;
  justify-content: space-around;
  margin: .5rem; }
  .footer_logos-content {
    display: flex;
    align-items: center;
    /* Align Items Vertically */
    justify-content: space-around;
    /* Align Items Horizontally */
    list-style: none; }
  .footer_logos--icon {
    width: 5rem; }

.navbar {
  justify-self: center; }
  .navbar-brand {
    grid-column: 2 / 3; }
  .navbar-principal {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    grid-gap: 2rem; }
    .navbar-principal__item {
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif !important;
      font-weight: 400;
      margin: 2rem 0 0; }
    .navbar-principal__link {
      color: #fff;
      align-items: center; }
  .navbar-form {
    grid-column: 4 / 5;
    justify-self: end; }
  .navbar user-nav {
    grid-column: 6 / 7; }
  .navbar-flags {
    grid-column: 7 / 8; }

/*.navigation {
    background-color: #34495E;
    border-bottom: 9pt solid #2C3E50;
    grid-row: 1 / 2;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    margin-bottom: 0; }
    .navigation_link {
      color: #fff;
      font-family: 'Roboto' sans-serif !important;
      font-size: 1.6rem !important;
      font-weight: 400 !important; }
      .navigation_link:first-child {
        margin-left: 2rem; }
      .navigation_link:hover {
        color: #1abc9c;
        background-color: transparent !important; }
    .navigation_flags {
      color: inherit;
      background-color: transparent;
      border: none;
      margin: 0.5rem; }
      .navigation_flags:hover {
        background-color: transparent; }
      .navigation_flags--dropdown {
        background-color: #34495E;
        min-width: 6.5rem; }
    .navigation_login {
      color: #fff;
      font-family: 'Roboto' sans-serif !important;
      font-size: 1.6rem !important;
      font-weight: 400 !important; }
      .navigation_login:hover {
        color: #1abc9c;
        background-color: transparent !important; }
    .navigation_user {
      margin: 0.5rem;
      color: #fff; }
      .navigation_user--dropdown {
        background-color: #34495E;
        color: #fff; }
        .navigation_user--dropdown li > a {
          color: #fff; }
        .navigation_user--dropdown:hover {
          background-color: #2C3E50; }
          .navigation_user--dropdown:hover li > a {
            color: #fff; }
    .navigation_search-input, .navigation_search-btn {
      background-color: #2C3E50 !important;
      color: #1abc9c;
      border-radius: 100px;
      border-color: #2C3E50 !important; }
  */
