<div id='DivExp' style="margin-top: -20px; text-align: left !important;">
    <center>
        <h1>Laboratório Remoto LTE - 1</h1>
        
        <h3>O que você vê na imagem mostrada ao microscópio?</h3>
        </center>
        <p>Nesta atividade você deverá acessar o site durante uma semana, de segunda à sexta. A cada dia haverá uma lâmina diferente para ser visualizada. A primeira lâmina, na segunda-feira, será colocada às 8h e retirada no dia seguinte às 8h. Nós não  falaremos o que é o conteúdo das lâminas, pois a partir de suas próprias observações, você poderá criar hipóteses sobre o que está visualizando ao microscópio. Ao finas de semana as lâminas não serão trocadas.</p>
        <b><center><p>FIQUEM ATENTOS! As lâminas serão trocadas todos os dias.</p></center></b>
               <p>As imagens mostradas nesta página são transmitidas ao vivo do microscópio do Laboratório de Tecnologia Educacional do IB/UNICAMP. Nesta página você verá a imagem de uma câmera que mostra o microscópio e, de outra câmera, qie mostra a imagem da lâmina  no microscópio. </p>
        <p>A cada observação, preencham o questionário abaixo com hipóteses. Se tiver interesse em receber um feedback sobre o resultado dos experimentos preencha o campo opcional do relatório com seu e-mail.</p>
        <p>Para ver a lâmina é preciso ligar a lâmpada do microscópio. Para ver o microscópio em uso é precio ligar a lâmpada da luminária, caso a sala esteja escura.</p>
        <h3>As imagens abaixo mostram:</h3>
        <p>Caso as imagens abaixo mostrem retângulos pretos ou estejam muito escuras, clique nos botões abaixo para ligar a lâmpada do microscópio e/ou da luminária que ilumina o microscópio.</p>
        
        <div class="row">
          <div class="col-lg- col-md-6 col-sm-12 col-xs-12" >
<p>1) O microscópio a partir de onde está sendo mostrada a lâmina que você vê na imagem 2. </p>
<p> </p>
<p> </p>
              <img width="100%" src="http://www.animalculo.ib.unicamp.br/camera/RPI-cam1"/>
          </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p>2) A ampliação, com uso do microscópio, de algo que gostaríamos que você descrevesse para nós. Olhe com bastante atenção para a imagem e responda ao questionário que aparece no final desta página.</p>
                <p><img width="100%" src="http://www.animalculo.ib.unicamp.br/camera/RPI-cam0"/></p>
            </div>
  </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                
          </div>
          <h3>Registre sua observação!</h3>
                <p>Agora que você observou atentamente as imagens mostradas acima, responda o questionário apresentado abaixo, lembre-se que esse experimento terá a duração de 5 dias e a cada dia você deve observar a imagem mostrada ao microscópio e responder o questionário abaixo.</p>
                <iframe style="margin-top: 20px;" src="https://docs.google.com/forms/d/e/1FAIpQLScCcFowzuyoOWU9iv2tspxOJExNKGV77KiPB7HggJEWK0VR8w/formResponse?embedded=true" marginwidth="0" marginheight="0" frameborder="0" height="500" width="100%">Carregando…</iframe>
        </div>
    </center>

</div>

<script>
    var lang =
            {
                showme: 'Mostre-me como funciona',
                showmeshort: 'Como funciona',
                next: "Próximo",
                previous: "Anterior",
                done: "Pronto",
                leave: "Sair",
                intro1:"Neste experimento você poderá ... ",
				intro2:" 2 Neste experimento você poderá ... ",
				intro3:" 3 Neste experimento você poderá ... ",
				intro4:" 4 Neste experimento você poderá ... ",
                
                
            };
</script>


