<div id='DivExp' class="container">
    <center>
        <h3>Eletric Panel AC</h3>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12" >
                <img class="cam" src='http://painelac1.relle.ufsc.br:8080' width="100%"/> <!-- esta na rede interna 10.10.10.178:8081 -->
                <div  style="margin: 20px 0 10px 0" class="switches">

                    <input class='switch' id='sw0' type="checkbox" data-toggle="toggle" data-on="S1" data-off="S1"/>
                    <input class='switch' id='sw1' type="checkbox" data-toggle="toggle" data-on="S2" data-off="S2"/>
                    <input class='switch' id='sw2' type="checkbox" data-toggle="toggle" data-on="S3" data-off="S3"/>
                    <input class='switch' id='sw3' type="checkbox" data-toggle="toggle" data-on="S4" data-off="S4"/>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top: 20px">
                <div class="base loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>

                <div class='controllers' style="display: none">
                    <p style="display: none;" class="default_circuit">This equivalent circuit was not drawn yet.</p>
                    <img class="circuitresponsive  default_circuit" src="http://relle.ufsc.br/exp_data/2/1/img/diagrama.png" width="100%"/>                                            
                    <img style="display:none;max-height: 450px;max-width: auto;width: auto;" class="circuitresponsive equivalent hiddencircuit" src=""/>
                </div>
            </div>
        </div>
    </center>
</div>


<script>
    var lang =
            {
                showme: "Show me how it works",
                next: "Next",
                previous: "Prev",
                done: "Done",
                showmeshort: 'How it works',
                leave: "Leave",
                intro1: "In this lab you will analyze resistive circuits in parallel, series and mixed configurations.",
                introcamera: "This video streaming will show you what is happening now in the lab.",
                diagram: "This diagram represents the same circuit available remotely. It also indicates the places where swithes, ammeters and voltmeters are placed.",
                switches: "Use these switches to open and close a path for electric current.",
                intro2: "The light intensity emitted by each lamp gives a visual feedback of the dissipated power."
            };


</script>