<div id='DivExp' class="container">
    <center>
        <h3>Painel Elétrico CA</h3>

        <div class="row">
            <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12" >
                <img class="cam" src='http://painelac1.relle.ufsc.br:8080' width="100%"/> 
                <div  style="margin: 20px 0 10px 0" class="switches">
                    <input class='switch' id='sw0' type="checkbox" data-toggle="toggle" data-on="S1" data-off="S1"/>
                    <input class='switch' id='sw1' type="checkbox" data-toggle="toggle" data-on="S2" data-off="S2"/>
                    <input class='switch' id='sw2' type="checkbox" data-toggle="toggle" data-on="S3" data-off="S3"/>
                    <input class='switch' id='sw3' type="checkbox" data-toggle="toggle" data-on="S4" data-off="S4"/> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-top: 20px">
                <div class="base loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>

                <div class='controllers' style="display: none">
                    <p style="display: none;" class="default_circuit">Este circuito equivalente não foi definido ainda.</p>
                    <img class="img-responsive  default_circuit" src="http://relle.ufsc.br/exp_data/2/1/img/diagrama.png" width="100%"/>                                            
                    <img style="display:none;max-height: 450px;width: auto; max-width: auto;" class="equivalent hiddencircuit" src="" />
                </div>
            </div>
        </div>
    </center>
</div>

<script>
    var lang =
            {
                showme: 'Mostre-me como funciona',
                showmeshort: 'Como funciona',
                next: "Próximo",
                previous: "Anterior",
                done: "Pronto",
                leave: "Sair",
                intro1: "Neste laboratório você irá analisar circuitos resistivos em configurações paralelas, em série e mistas.",
                introcamera: "Ao longo do seu trabalho esta transmissão de vídeo mostrará o que está acontecendo no momento.",
                diagram: "Este diagrama representa o mesmo circuito disponível remotamente. Note que ele indica a localização das chaves.",
                switches: "Use as chaves para abrir ou fechar um caminho para a corrente.",
                intro2: "A intensidade de luz emitida por cada lâmpada dá uma percepção visual da potência dissipada por elas."

            };

</script>