<div id='DivExp' style="margin-top: -20px; text-align: left !important;">
    <center>
        <h1>Animálculo</h1>

        <div class="row">
            <div class="col-lg- col-md-6 col-sm-12 col-xs-12" >

                <img width="100%" src="http://www.animalculo.ib.unicamp.br/camera/RPI-cam0"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img width="100%" src="http://www.animalculo.ib.unicamp.br/camera/RPI-cam1"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <iframe style="margin-top: 20px;" src="https://docs.google.com/forms/d/1wYj0rHzHKhmpVzgQQY3Jhyw1NXV1OjoSK8xoYVktjic/viewform?embedded=true" marginwidth="0" marginheight="0" frameborder="0" height="500" width="100%">Carregando…</iframe>
            </div>
        </div>
    </center>

</div>

<script>
    var lang =
            {
                showme: 'Mostre-me como funciona',
                showmeshort: 'Como funciona',
                next: "Próximo",
                previous: "Anterior",
                done: "Pronto",
                leave: "Sair",
                intro1:"Neste experimento você poderá ... ",
                
                
            };
</script>


