

<div id='DivExp' class="container">

    <h3>Conversão de energia luminosa em energia elétrica</h3>
    <div class="row">
        <div class="col-lg-6  col-sm-12 col-md-6 col-xs-12">
            <img class ='cam' src='http://fotovoltaico1.relle.ufsc.br:8080' width="100%"/>

        </div>
        <div class='col-lg-6  col-sm-12 col-md-6 col-xs-12'>
            <div class="base loading">
                <ul>
                    <li class=""><div class="loader-1"></div></li>
                </ul>
            </div>
        </div>
        <div  class="col-lg-6  col-sm-12 col-md-6 col-xs-12 cada controllers" style="display: none">
            <h5>Chaves</h5>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 casa">
                    <ul> 
                        <li>
                            <input class='switch' id='sw0' type="checkbox" data-toggle="toggle" data-on="On" data-off="Off"/> 
                        </li>
                        <li>
                            <label for="sw1">Lâmpada</label>
                        </li>
                    </ul> 
                </div>

                <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-6 lamp">
                    <ul> 
                        <li>
                            <input class='switch' id='sw3' type="checkbox" data-toggle="toggle" data-on="On" data-off="Off"/> 
                        </li>
                        <li>
                            <label for="sw1">Chave S3</label>
                        </li>
                    </ul> 
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 citor">
                    <ul> 
                        <li>
                            <input class='switch' id='sw2' type="checkbox" data-toggle="toggle" data-on="On" data-off="Off"/>  
                        </li>
                        <li>
                            <label for="sw2">Capacitor</label>

                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 luzes">
                    <ul> 
                        <li>
                            <input class='switch' id='sw1' type="checkbox" data-toggle="toggle" data-on="On" data-off="Off"/> 
                        </li>
                        <li>
                            <label for="sw3">Matriz de LEDs</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 controllers" style="display: none">
            <div class="row">
                <h5>Células fotovoltaica</h5>
                <div class="col-lg-12 col-xs-12 tensao">
                    <label for="voltage">Tensão:</label>
                    <input class="input-sm" style="max-width: 80px;border:1px solid #cccccc; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;margin:5px;"  id="voltage" disabled>                    
                    <input id="motor_pos" style="display: none" value="1750">
                </div>
                <div class="col-lg-10 col-lg-10  col-sm-10 col-xs-12 ajuste">
                    <div id="slider" style="margin-top: 20px"></div>
                    <!--<div id="slider-range-min"></div>--> 
                </div>  
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <button class='btn btn-fresh' id='send' >Enviar</button>
                </div>

            </div>
            <div class="row" style="margin: 20px 0 10px 0;" >
                <div class="col-lg-12 col-xs-12 alert alert-info alert-dismissible" id="show-error" style="display: none" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span> <p> Error </p> </span>
                </div>
            </div>

        </div> 

        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 capac controllers" style="display: none">
            <div class="row">
                <h5>Carga e descarga de capacitor</h5>
                <div class="col-lg-4 tempo">
                    <ul> 
                        <li>
                            <input class="input-sm" type="number" style="max-width: 80px;border:1px solid #cccccc; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;margin:5px;" max="60" min ="1" value="5" id="sampletime">                    
                        </li>
                        <li>
                            <label for="samplepersec">Tempo de amostra (s)</label>

                        </li>
                    </ul> 
                </div>
                <div class="col-lg-4 charge">
                    <button class='btn btn-fresh sampling' id='charging' >Carga</button>
                </div>  
                <div class="col-lg-4 discharge">
                    <button class='btn btn-fresh sampling' id='discharging' >Descarga</button>
                </div>

            </div>
            <div class="row" style="margin: 20px 0 10px 0;" >
                <div class="col-lg-12 col-xs-12 alert alert-info alert-dismissible" id="show-error" style="display: none" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span> <p> Error </p> </span>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 hiddenchart controllers" style="display: none">
            <canvas id="canvas" height="400" width="500"></canvas>
        </div>
    </div>

</div>

<script>
    message = ["O circuito contém um capacitor e uma matriz de LEDs e é alimentado pela célula fotovoltaica. \n\
A tensão entre os terminais da célula é medida pelo voltímetro ."];

    var lang =
            {
                showme: 'Mostre-me como funciona',
                showmeshort: 'Como funciona',
                next: "Próximo",
                previous: "Anterior",
                done: "Pronto",
                leave: "Sair",
                voltage: "Tensão",
                time: "Tempo",
                intro1: "Neste experimento você irá analisar a conversão de energia luminosa em elétrica, além de verificar medições, e utilizar um capacitor.",
                introcamera: "Por esta transmissão, você poderá acompanhar o que está acontecendo no momento com o experimento.",
                switches: "Use esta chave para ligar ou desligar a lâmpada.",
                intro2: "Abra ou feche o circuito que conecta o sistema com a célula solar.",
                intro3: "Ative a circuito entre o capacitor e o sistema. ",
                intro4: "Acionando os LEDs você terá uma percepção visual da intensidade da corrente. ",
                intro5: "Verifique aqui o valor da tensão gerada pela placa solar.",
                intro6: "Ajuste a orientação da placa solar; E clique em enviar.",
                intro7: "Escolha o tempo de duração da amostra.",
                intro8: "Para carregar o capacitor é necessário que as chaves (Chave S3, Capacitor) estejam ativadas, já a lâmpada precisa estar desligada.",
                intro9: "Para descarregar o capacitor é necessario que as chaves Chave S3, Capacitor e Lâmpada) estejam ativadas.",
                capacit: "O capacitor tem como função armazenar energia e posteriormente liberá-la de uma só vez."



            };
</script>