<div id='DivExp' class="container" style="margin-top: -4%;">
    <center>
        <h1>Painel Elétrico CC</h1> <!-- Experimentation name -->

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12" >
                
                <img src='http://rexlab.ufsc.br:8072' width="100%"/> <!-- Video streaming (External IP) --><br><br>

                <!-- Controls for manipulate experiment -->
                <div class='row'> 
                    <div class='col-lg-2 col-lg-offset-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw0' type="checkbox" data-toggle="toggle" data-on="S1" data-off="S1"/><br>
                        <input class='switch' id='sw1' type="checkbox" data-toggle="toggle" data-on="S2" data-off="S2"/><br>
                    </div>
                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw2' type="checkbox" data-toggle="toggle" data-on="S3" data-off="S3"/><br>
                        <input class='switch' id='sw3' type="checkbox" data-toggle="toggle" data-on="S4" data-off="S4"/><br>
                    </div>
                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw4' type="checkbox" data-toggle="toggle" data-on="S5" data-off="S5"/><br>
                       <input class='switch' id='sw5' type="checkbox" data-toggle="toggle" data-on="S8" data-off="S6"/><br>
                    </div>
                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3'>
                        <input class='switch' id='sw6' type="checkbox" data-toggle="toggle" data-on="S7" data-off="S7"/><br>
                    </div>
                </div> 
                <!-- End controls for manipulate experiment -->

            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top: 20px">

                <img src="http://relle.ufsc.br/exp_data/1/img/diagrama.png" width="100%"/> <!-- Example for diagram image -->

                <!-- Results for the lab -->
                <div id="sensors"> 
                    <table class="table table-condensed" style='font-size:11px'>
                        <thead>
                            <tr>
                                <th>A1</th>
                                <th>A2</th>
                                <th>A3</th>
                                <th>A4</th>
                                <th>A5</th>
                                <th>A6</th>
                                <th>A7</th>
                                <th>V1</th>
                                <th>V2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style='font-size:9pt' id="a0">0</td>
                                <td style='font-size:9pt' id="a1">0</td>
                                <td style='font-size:9pt' id="a2">0</td>
                                <td style='font-size:9pt' id="a3">0</td>
                                <td style='font-size:9pt' id="a4">0</td>
                                <td style='font-size:9pt' id="a5">0</td>
                                <td style='font-size:9pt' id="a6">0</td>
                                <td style='font-size:9pt' id="v0">0</td>
                                <td style='font-size:9pt' id="v1">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End results for the lab -->

                <div id="report"></div>      <!-- If report is required -->
                
            </div>
        </div>
        <!-- Begin Explanation -->
            <div class="row" >
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"  style="padding:10px; margin-left:10px; background-color: #eee; border: 1px solid #ddd;">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="http://relle.ufsc.br/exp_data/oque.png"/></div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><p align="justify">O caminho que a eletricidade percorre altera as propriedades do circuito. Em caminhos contínuos o circuito está em série e em caminhos alternativos está em paralelo.</div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding:10px; margin-left:10px; background-color: #eee; border: 1px solid #ddd;">
                    <div class="row">   <!-- Access to didactic material -->
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="http://relle.ufsc.br/exp_data/como.png"/></div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <p align="justify">Acione as chaves na imagem para configurar o circuito. 
                                Acesse o material didático para o <a href="http://relle.ufsc.br/moodle/course/view.php?id=27" target="_blank">Ensino Médio</a> e para o <a href="http://rexmobile.ufsc.br/moodle/course/view.php?id=267" target="_blank">Ensino Superior</a>.</div>
                    </div>
                </div>
            </div>
            <!-- End Explanation -->
    </center>
</div>
