

<div id='DivExp' class="container">
	<div id="return" class="row well well-sm" style="margin-top: -20px;">
<div class="col-lg-12"><button id="btnIntro" class="btn btn-sm btn-default pull-left"> <span class="long">Mostre-me como funciona</span><span class="short">Como funciona</span> <span class="how-icon fui-question-circle"></span></button>
 	<button class="btn btn-sm btn-default" id="btnLeaveExp" name="leave" style="float:right;">Sair</button>
</div>
</div>
<h3>VISIR</h3>
  
<center>
	<div class='row'>
		<div id="instrumentframe"></div>
	</div> 
</center>
<!-- <a href="http://docs.visir.rexlab.ufsc.br/doku.php"  target="_blank"> <img src="http://relle.ufsc.br/exp_data/18/1/img/teste.PNG" style="width:220px;height:50px" class="pull-left"> </a> -->
   
<!--<div class="row"> -->
<br> 
    <a href="http://docs.visir.rexlab.ufsc.br/doku.php"  target="_blank"> <button type="button" class="btn btn-primary btn-lg">
            <img src="http://relle.ufsc.br/exp_data/18/1/img/book.png" style="width:25px;height:25px">  Repositório de Práticas
      </button> </a>
 <!--<a  style="font-size:15px; color:#c9c9c9; margin-top: 18px" > Repositório com exemplos de práticas</a> -->
	<!--<p style="margin-top: 15px" class="pull-left">Exemplos de práticas</p>

<div id='example-board' class="row col-xs-12 col-md-12 col-sm-12 col-xs-12 well">
	<div class="col-xs-2 col-md-4 col-sm-4 col-xs-6">
		<a href="#" id="load_cgeral">
			<p>Componentes Gerais</p>
		</a>
		<img class="exp-img" data-action="zoom" src="http://relle.ufsc.br/exp_data/18/1/img/cgeral.png" /></div>
	<div class="col-xs-2 col-md-4 col-sm-4 col-xs-6">
		<a href="#" id="load_armista">
			<p>Associação de Resistores Mista</p>
		</a>
		<img class="exp-img" data-actiom='zoom' src="http://relle.ufsc.br/exp_data/18/1/img/armista.png" />
	</div>
	<div class="col-xs-2 col-md-4 col-sm-4 col-xs-6">
		<a href="#" id="load_arparalelo">
			<p>Associação de Resistores em Paralelo</p>
		</a>
		<img class="exp-img" data-action="zoom" src="http://relle.ufsc.br/exp_data/18/1/img/arparalelo.png" />
	</div>
	<div class="col-xs-2 col-md-4 col-sm-4 col-xs-6">
		<a href="#" id="load_arserie">
			<p>Associação de Resistores em Série</p>
		</a>
		<img class="exp-img" data-action="zoom" src="http://relle.ufsc.br/exp_data/18/1/img/arserie.png" />
	</div>

	<div class="col-xs-2 col-md-4 col-sm-4 col-xs-6">
		<a href="#" id="load_tnpn">
			<p>Transistor NPN</p>
		</a>
		<img class="exp-img" data-action="zoom" src="http://relle.ufsc.br/exp_data/18/1/img/tnpn.png" />
	</div>
	<div class="col-xs-2 col-md-4 col-sm-4 col-xs-6">
		<a href="#" id="load_fgen">
			<p>Teste do Gerador de Funções</p>
		</a>
		<img class="exp-img" data-action="zoom" src="http://relle.ufsc.br/exp_data/18/1/img/fgen.png" />
	</div>
</div>

</div>
<p class="pull-right">*Clique na imagem para ampliar</p>
</div>
-->
 
<!--<div>
		Log window:
		<button id="showlog">Show</button>
		<button id="hidelog">Hide</button>
	</div>
	<div id="logwindow" style="border: 1px solid #000000; padding: 2px; height: 500px; width: 800px; overflow: scroll; display:none"></div>
<br/>
<br/>-->
<script>
    var lang =
            {
                showme: 'Mostre-me como funciona',
                showmeshort: 'Como funciona',
                next: "Próximo",
                previous: "Anterior",
                done: "Pronto",
                leave: "Sair",
                intro1: "Neste experimento você poderá construir seu própio circuito resistivo, em configurações paralelas, em série e mistas. Além de verificar e analisar os resultados das medições.",
                introcamera: "Ao longo do seu trabalho você poderá acompanhar por aqui a transmissão  em tempo real do experimento.",
                diagram: "Este diagrama representa o mesmo circuito disponível remotamente. Note que ele indica a localização das chaves, amperímetros e voltímetros.",
                switches: "Use as chaves para abrir ou fechar um caminho para a corrente.",
                sensors: "Ao alterar o estado das chaves, o circuito remoto também mudará de configuração e novas leituras de tensão e corrente serão mostradas aqui.",
                report: "Ao sair é possível gerar um relatório com o último circuito configurado."

            };

</script>
 