//COLOR VARIABLES ;

$color-primary: #34495E; 
$color-primary-dark: #2C3E50;

$color-secondary: #16a085;

$color-tertiary: #828282;
$color-tertiary-dark: #bdbdbd;

$color-white: #fff;

//FONT VARIABLES ;
$font-family-primary :'Roboto', sans-serif;

$font-size-primary: 1.6rem;

$font-weight-primary: 400;
$font-weight-secondary: 300;
 