<div id='DivExp' class="container">
    <div id='report'></div>
    <div id='csv'></div>
    <center>
        <h3>Heat Conduction in Metal Bars</h3>

        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                <img  class="cam" src='http://nutecrexlab5.ufu.br:8080' width="100%" data-step="1" data-intro="The apparatus is composed by three metal bars. Here you can check what is happening right now."/> <!-- esta na rede interna 10.10.10.162:8081 -->
                <div class="base controllers loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>

                <div class='row controllers' style="display:none;margin-top: 15px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                        <p> Interval (time between two measurements)</p> 
                        <select class="intervalo" id="step"  data-step="9" data-intro="Select the interval (seconds) between two successive temperature measurements to be shown in the horizontal axis.">
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option> 
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type='button' class="btn fonte"  name='start' id='start' value='Start' data-step="10" data-intro="It starts to heat up the bars and plot data from thermometers." />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                <div class="base grafico loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>
                <div class="row grafico" style="display:none;margin-left: 0px;"  data-step="2" data-intro="Three thermometers were equally spaced along each bar.">
                    <div class="labely">Temperature [&#8451;]</div>
                    <img class="info-bars col-lg-12" src="http://relle.ufsc.br/exp_data/13/1/img/info_en.png"/>
                    <canvas  class="col-lg-12" id="canvas"  height="320" width="480">Aguarde, o gráfico está sendo configurado...</canvas>
                    <div class="labelx">Time [s]</div>
                </div>


                <div class="row legendas" data-step="3" data-intro="This legend belongs to the chart that will replace the figure above. The chart will show only data from T1 of each bar.">
                    <div class="col-sm-4 col-xs-4"  id="m1"><canvas class="legend" style="width:15px; height:15px; background:#FDA98F;"></canvas> T1 S1 (Aluminum)</div>
                    <div class="col-sm-4 col-xs-4"  id="m2"><canvas class="legend" style="width:15px; height:15px; background:rgba(151,187,205,1);"/></canvas> T1 S2 (Copper)</div>
                    <div class="col-sm-4 col-xs-4"  id="m3"><canvas class="legend" style="width:15px; height:15px; background:rgba(130, 125, 143, 0.9);"/></canvas> T1 S3 (Steel)</div>
                </div>
                <div class="row settings" style="display: none" data-step="4" data-intro="However, it is possible to select the points and bars to create new charts." >
                    <div class="col-lg-5 barras">
                        <div class="btn-group volte" role="group" aria-label="..." data-step="11" data-intro="Come back here when needed to set up a new chart.">
                            <button type="button" class="btn btn-fresh curvas" id="newvariable" data-step="6" data-intro="Add as many lines as you need">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button> 
                            <button type="button" class="btn btn-fresh novo" id="newchart" data-step="8" data-intro="Click here to create a new chart.">New Chart</button> 
                            <button type="button" class="btn btn-fresh erro" id="removevariable" data-step="7" data-intro="If you made a mistake, it will remove the last line" >
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7" id="matches">
                        <div class="row">
                            <div class="select-group col-lg-3 col-md-5 col-sm-5 col-xs-12" data-step="5" data-intro="Select which thermometer will be used to plot.">
                                <select class="form-control">
                                    <option></option>
                                    <option>S1-T1</option>
                                    <option>S1-T2</option>
                                    <option>S1-T3</option>
                                    <option>S2-T1</option>
                                    <option>S2-T2</option>
                                    <option>S2-T3</option>
                                    <option>S3-T1</option>
                                    <option>S3-T2</option>
                                    <option>S3-T3</option>
                                </select>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="report"></div>    
                <div id="csv"></div> 

            </div>
        </div>
        <div class="row" id='custom-group'></div>

    </center>
</div>

<script>
    var lang = {time: 'Time',
        temperature: 'Temperature',
        metals: {
            "S1": 'Aluminum',
            "S2": 'Copper',
            "S3": 'Steel'
        },
        strokes: {
            "S1-T1": "#FDA98F",
            "S1-T2": "#696969",
            "S1-T3": "#505050",
            "S2-T1": "rgba(151,187,205,1)",
            "S2-T2": "#303030",
            "S2-T3": "#DFDFDF",
            "S3-T1": "rgba(130, 125, 143, 0.9)",
            "S3-T2": "#707070",
            "S3-T3": "#909090"
        },
        showme: "Show me how it works",
        next: "Next",
        previous: "Prev",
        leave: "Skip",
        done: "Done",
        showmeshort: 'How it works',
        comeco: "In this experiment you will analyse the heat condution in different materials.",
        intro1: 'The apparatus is composed by three metal bars. Here you can check what is happening right now.',
        intro2: "Three thermometers were equally spaced along each bar.",
        intro3: "This legend belongs to the chart that will replace the figure above. The chart will show only data from T1 of each bar.",
        intro4: "However, it is possible to select the points and bars to create new charts.",
        intro5: "Select which thermometer will be used to plot.",
        intro6: "Add as many lines as you need",
        intro7: "If you made a mistake, it will remove the last line",
        intro8: "Click here to create a new chart.",
        intro9: "Select the interval (seconds) between two successive temperature measurements to be shown in the horizontal axis.",
        intro10: "It starts to heat up the bars and plot data from thermometers.",
        intro11: "Come back here when needed to set up a new chart."

    };
</script>