<div id='DivExp' class="container" style="text-align: left !important;">
    <!--
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-info-circle"></i> 
            Esta é uma releitura do primeiro experimento do RExLab criado em 1997, um depurador remoto para 8051. 
            <a href='http://rexlab.ufsc.br/primeiro_experimento.php' target='_blank'>Saiba mais</a>.
        </div>
    -->

    <center>
        <h3>Ambiente de Desenvolvimento para Arduino</h3>
    </center>

    <div class="row">

        <div class='col-lg-8 col-md-12' id='ide'>
            <div class="base loading_ide">
                <ul>
                    <li><div class="loader-1"></div></li>
                </ul>
            </div>
            <div class="panel-title controllers" style="display: none" >
                <ul class="nav nav-tabs" style='padding: 10px 0 0 10px !important;'>
                    <li class="dropdown aqui" data-step="3" data-intro="Aqui encontram-se alguns exemplos e algumas bibliotecas presentes no ambiente remoto. Basta adicionar a biblioteca e chamar as funções no seu código.">
                        <button class="btn btn-default btn-sm-custom dropdown-toggle square" id="drop_menu" type="button" data-toggle="dropdown" style="margin-right:8px;"><i class="fa fa-bars" style="margin-left: -6px; margin-top:-5px;"></i></button>
                        <ul class="dropdown-menu" aria-labelledby="drop_menu">
                            <li><a href="#/" id="editing">file.ino</a></li>
                            <li><a data-toggle="collapse" data-target="#example">Exemplos</a> </li>
                            <div  id="example" class="list-group collapse">
                                <a href="#/" class="list-group-item" id="servo">LCD + Servo</a>
                                <a href="#/" class="list-group-item" id="led">LCD + LED</a>
                                <a href="#/" class="list-group-item" id="lm35">LCD + LM35</a>
                                <a href="#/" class="list-group-item" id="ldr">LED + LDR</a>
                            </div>
                            <li><a data-toggle="collapse" data-target="#libraries">Bibliotecas</a> </li>
                            <div  id="libraries" class="list-group collapse">
                                <a href="#/"  class="list-group-item"id="servo_h">Servo.h</a>
                                <a href="#/" class="list-group-item" id="wire_h">Wire.h</a>
                                <a href="#/" class="list-group-item" id="rgb_lcd_h">rgb_lcd.h</a>
                            </div>

                        </ul>
                    </li>
                    <li class="active"><a href="#/" id="tab" >file.ino</a></li>

                    <li id='menu' data-step="2" data-intro="Aqui estão as funções para compilar e enviar código, abrir e baixar arquivos .ino, e abrir o terminal serial." >
                        <ul style="margin-left:-38px;">
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom round" id='verify' style='opacity: 0.35;' disabled><i class="fa fa-check" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom round" id='upload' style='opacity: 0.35;' disabled><i class="fa fa-arrow-right" style="margin-left: -6px; margin-top:-5px; "></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom square" id='open' ><i class="fa fa-upload" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom square" id='download'><i class="fa fa-download" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;"><a href="#/" class="btn btn-default btn-sm-custom square" id='serial' style='opacity: 0.35;' disabled><i class="fa fa-search" style="margin-left: -6px; margin-top:-5px;"></i></a></li>
                            <li style="display:inline;" id='acting'></li>
                        </ul>
                    </li> 
                </ul>
            </div>

            <div class="content-box-large box-with-header">
                <div id="editor"></div>
                <div id='after' style="display:none" data-step="5" data-intro="Após compilar ou enviar, o retorno destas ações aparecerão neste espaço indicando se foram executadas com sucesso ou não.">
                    <div id="verify_bar">
                        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                            <p class="message"></p>
                        </div>
                        <div class="progress col-lg-4 col-md-4 col-xs-4 col-sm-4" style="padding-left: 0; padding-right: 0;">
                            <div class="progress-bar progress-bar-success" id='prog' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            </div>
                        </div>
                    </div>   
                    <div id="output"></div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12"  id="serial_monitor"  style="display:none;" data-step="6" data-intro="Se você utilizar as funções da comunicação serial do Arduino no seu código, será possível trocar informações com a placa neste terminal.">
            <div class="panel-title" style="height: 40px; padding: 5px;">

                <div  style="color:white;padding:5px;">
                    <span id='port'>COM X</span>
                    <a style="color:white;" href='#/' onClick='$("#close").click()' id='close' class="pull-right" style="font-weight: bold; text-decoration: none;">x</a>
                </div>

            </div>
            <div class="content-box-large box-with-header serialbox">
                <div  style="padding:20px;height:400px; ">
                    <div class="input-group">
                        <input type="text" class="form-control" id='serial_input'>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id='serial_send'>Enviar</button>
                        </span>
                    </div>
                    <textarea readonly> </textarea>
                    <ul id='serial_list'>
                        <li></li>
                    </ul>
                </div>

                <div class="panel-footer">
                    <select id='baudrate' class="form-control select select-block mbl">
                         <option value='300'>300 baud</option>
                        <option value='1200'>1200 baud</option>
                        <option value='2400'>2400 baud</option>
                        <option value='4800'>4800 baud</option>
                        <option value='9600' selected>9600 baud</option>
                        <option value='14400'>14400 baud</option>
                        <option value='19200'>19200 baud</option>
                        <option value='28800'>28800 baud</option>
                        <option value='34800'>34800 baud</option>
                        <option value='57600'>57600 baud</option>
                        <option value='115200'>115200 baud</option>
                    </select>

                    <!-- bootstrap compatible only select id='baudrate' class='selectpicker' style="padding-bottom:5px" >
                        <option value='300'>300 baud</option>
                        <option value='1200'>1200 baud</option>
                        <option value='2400'>2400 baud</option>
                        <option value='4800'>4800 baud</option>
                        <option value='9600' selected>9600 baud</option>
                        <option value='14400'>14400 baud</option>
                        <option value='19200'>19200 baud</option>
                        <option value='28800'>28800 baud</option>
                        <option value='34800'>34800 baud</option>
                        <option value='57600'>57600 baud</option>
                        <option value='115200'>115200 baud</option>
                    </select-->
                    <button class="btn btn-sm btn-normal" id='clear'>Limpar</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-lg-offset-0 col-md-offset-1 col-md-10 col-sm-12 col-xs-12  content-box-large" id='right'>
            <div class="base loading">
                <ul>
                    <li class=""><div class="loader-1"></div></li>
                </ul>
            </div>

            <div class='row controllers' style="display: none">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" id="lab">          
                    <button class="btn btn-normal pull-left" style="position:absolute" id='reset'>Reset<i class="fa fa-refresh" style="margin-left:5px;"></i> </button>
                    <div class="pushbutton" style="display: none"></div>
                    <div class="btn-group push-group cameraa" style="display: none">
                        <button class="btn btn-sm" id='pushbutton7'>7</button>
                        <button class="btn btn-sm" id='pushbutton8'>8</button>
                    </div>

                    <img id="labcam" src='http://arduino1.relle.ufsc.br:8080' width="100%" data-step="7" data-intro="E, finalmente, é possível ver o que está acontecendo no momento através dessa transmissão de vídeo."/>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" id="diagram">
                    <span class='zoom' id='img-zoomed'> 
                        <img id="cameraaa" src='http://relle.ufsc.br/exp_data/4/1/diagrama.png' alt='' data-step="4" data-intro="Esta figura representa o circuito montado. Ela é útil na identificação dos sensores e pinos que serão utilizados durante o desenvolvimento de seu programa."/>
                    </span>
                    <!--- <p><i>*Segure e mova o mouse para ampliar</i></p> -->
                </div>

            </div>
        </div>


    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade in" style="display: none; padding: 10px">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ops, aconteceu um erro</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <p>Verifique e envie seu código novamente para ter certeza que ele será executado corretamente.</p>
                    </center>
                </div>

            </div>
        </div>
    </div>
    <button style="display:none" type="button" id="modal" class="btn btn-info btn-lg open">Open Modal</button>



    <form method="post" id="form" enctype="multipart/form-data" style="display:none">
        <input type="file" name='file' id="file" accept=".ino"/>
        <input type="submit" id='submit'/>
    </form>


</div>
<script>
    var lang =
            {
                verify: 'Verificar',
                open: 'Abrir',
                upload: 'Executar',
                serial: 'Monitor Serial',
                save: 'Salvar',
                setup: '//insira o seu código de setup aqui, para executar uma vez:',
                loop: '//insira o seu código aqui, para executar repetidamente:',
                done_upload: 'Enviado com sucesso.',
                done_compiling: 'Compilação completa.',
                error_upload: 'Erro no upload.',
                error_compiling: 'Erro na compilação.',
                error_serial: 'Erro na comunicação serial.',
                error_connection: 'Erro na conexão.',
                compiling: 'Compilando código...',
                uploading: 'Enviando código... ',
                leave: 'Sair',
                time: 'Tempo restante',
                wait: 'Aguarde',
                language: 'pt',
                showme: 'Mostre-me como funciona',
                showmeshort: 'Como funciona',
                next: "Próximo",
                previous: "Anterior",
                done: "Pronto",
                intro1: "O editor possui funcionalidades semelhantes às da IDE original do Arduino.",
                intro2: "Aqui estão as funções para compilar e enviar código, abrir e baixar arquivos .ino, e abrir o terminal serial.",
                intro3: "Aqui encontram-se alguns exemplos e algumas bibliotecas presentes no ambiente remoto. Basta adicionar a biblioteca e chamar as funções no seu código.",
                intro4: "Esta figura representa o circuito montado. Ela é útil na identificação dos sensores e pinos que serão utilizados durante o desenvolvimento de seu programa.",
                intro5: "Após compilar ou enviar, o retorno destas ações aparecerão neste espaço indicando se foram executadas com sucesso ou não.",
                intro6: "Se você utilizar as funções da comunicação serial do Arduino no seu código, será possível trocar informações com a placa neste terminal.",
                intro7: "E, finalmente, é possível ver o que está acontecendo no momento através dessa transmissão de vídeo.",
            };
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script> 
