<div id='DivExp' class="container">
    <div id='report'></div>
    <div id='csv'></div>
    <center>
        <h3>Condução de Calor em Barras Metálicas</h3>

        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                <img class="cam" src='http://conducaocalor1.relle.ufsc.br:8080' width="100%" data-step="1" data-intro="O aparato possui três barras metálicas. Aqui você pode conferir o que está acontecendo no momento."/> <!-- esta na rede interna 10.10.10.162:8081 -->
                <div class="base controllers loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>

                <div class='row controllers' style="display:none;margin-top: 15px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                        <p> Intervalo (tempo entre duas leituras)</p> 
                        <select class="intervalo" id="step" data-step="9" data-intro="Escolha o intervalo (em segundos) entre leituras dos termômetros para ser apresentado no eixo horizontal.">
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type='button' class="btn fonte"  name='start' id='start' value='Iniciar' data-step="10" data-intro="Ligue a fonte para aquecer as barras e iniciar a coleta dos dados." />
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12" >
                <div class="base grafico loading">
                    <ul>
                        <li class=""><div class="loader-1"></div></li>
                    </ul>
                </div>
                <div class="row grafico" style="display:none;margin-left: 0px;">
                    <div class="labely">Temperatura [&#8451;]</div>
                    <img class="info-bars col-lg-12" src="http://relle.ufsc.br/exp_data/13/1/img/info.png"/>
                    <canvas class="col-lg-12 chart" id="canvas" height="320" width="480">Aguarde, o gráfico está sendo configurado...</canvas>
                    <div class="labelx">Tempo [s]</div>
                </div>
                <div class="row legendas" data-step="3" data-intro="Esta é a legenda do gráfico que substituirá a figura acima. Nele serãoEsta é a legenda do gráfico que substi mostrados somente os dados de T1 em cada barra.">
                    <div class="col-sm-4 col-xs-4" id="m1"><canvas class="legend" style="background:#FDA98F;"></canvas> T1 M1 (Alumínio)</div>
                    <div  class="col-sm-4 col-xs-4" id="m2"><canvas class="legend" style="background:rgba(151,187,205,1);"/></canvas> T1 M2 (Cobre)</div>
                    <div  class="col-sm-4 col-xs-4" id="m3"><canvas class="legend" style="background:rgba(130, 125, 143, 0.9);"/></canvas> T1 M3 (Aço)</div>            
                </div>
                <div class="row settings" style="display: none">
                    <div class="col-lg-5 barras"  data-step="4" data-intro="No entanto, é possível escolher quais pontos e barras serão utilizados e criar novos gráficos.">
                        <div class="btn-group volte" role="group" aria-label="..." data-step="11" data-intro="Volte aqui a qualquer momento para configurar um novo gráfico.">
                            <button type="button" class="btn btn-fresh curvas" id="newvariable" data-step="6" data-intro="Adicione quantas curvas desejar.">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button> 
                            <button type="button" class="btn btn-fresh novo" id="newchart" data-step="8" data-intro="Clique e gere um novo gráfico.">Novo gráfico</button> 
                            <button type="button" class="btn btn-fresh erro" id="removevariable" data-step="7" data-intro="Se você cometeu algum erro, poderá remover a última curva">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7" id="matches">
                        <div class="row">
                            <div class="select-group col-lg-3 col-md-5 col-sm-5 col-xs-12 termometro" data-step="5" data-intro="Escolha qual termômetro aparecerá no gráfico.">
                                <select class="form-control">
                                    <option></option>
                                    <option>M1-T1</option>
                                    <option>M1-T2</option>
                                    <option>M1-T3</option>
                                    <option>M2-T1</option>
                                    <option>M2-T2</option>
                                    <option>M2-T3</option>
                                    <option>M3-T1</option>
                                    <option>M3-T2</option>
                                    <option>M3-T3</option>
                                </select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" id='custom-group'></div>


    </center>
</div>

<script>
    var lang = {time: 'Tempo',
        temperature: 'Temperatura',
        metals: {
            "M1": 'Alumínio',
            "M2": 'Cobre',
            "M3": 'Aço'
        },
        strokes: {
            "M1-T1": "#FDA98F",
            "M1-T2": "#696969",
            "M1-T3": "#505050",
            "M2-T1": "rgba(151,187,205,1)",
            "M2-T2": "#303030",
            "M2-T3": "#000",
            "M3-T1": "rgba(130, 125, 143, 0.9)",
            "M3-T2": "#707070",
            "M3-T3": "#909090"
        },
        showme: "Mostre-me como funciona",
        next: "Próximo",
        previous: "Anterior",
        leave: "Pular",
        done: "Pronto",
        showmeshort: 'Como funciona',
        comeco: "Neste experimento você irá analisar a condução de calor em diferentes materiais.",
        intro1: "O aparato possui três barras metálicas. Aqui você pode conferir o que está acontecendo no momento.",
        intro2: "Três termômetros foram igualmente espaçados ao longo de cada barra.",
        intro3: "Esta é a legenda do gráfico que substituirá a figura acima. Nele serão mostrados somente os dados de T1 em cada barra.",
        intro4: "No entanto, é possível escolher quais pontos e barras serão utilizados e criar novos gráficos.",
        intro5: "Escolha qual termômetro aparecerá no gráfico.",
        intro6: "Adicione quantas curvas desejar.",
        intro7: "Se você cometeu algum erro, poderá remover a última curva",
        intro8: "Clique e gere um novo gráfico.",
        intro9: "Escolha o intervalo (em segundos) entre leituras dos termômetros para ser apresentado no eixo horizontal.",
        intro10: "Ligue a fonte para aquecer as barras e iniciar a coleta dos dados.",
        intro11: "Volte aqui a qualquer momento para configurar um novo gráfico."
    };
</script>